*{
    margin: 0;
    padding: 0;
}

@media (max-width : 400px) {
    .input{
        width: 200px;
        padding-left: 10px;
    }
    .input i{
        display: none;
    }
    .contacte{
        width: 100%;
        border-radius: 0;
        height: 100vh;
    }
    .contacte-def div h1,h3{
        font-size: 15px;
    }
}